SWR_FINAL.zip
AnswerSheet_Backup.docx
.gemini/
.git/
*.tmp
~*
autowash_files/
autowash.html
De PE SP 26.zip
De PE SP 26/
Slide/
python-manager-26.2.msix
data.zip
AutoWash.pdf
AutoWash_backup.vpp
AutoWash_backup.vpp.bak_*
AutoWash_ERD.vpp.bak_*
AnswerSheet_Updated.docx
AnswerSheet_Updated.docx.original_backup
AnswerSheet_Updated_test.docx
Software_Requirment_Specification_Filled.docx
Software_Requirment_Specification_Template_2016.docx
Software_Requirment_Specification_Template_2016.zip
Sports_Center_Booking_System_Exam.docx
Login page.make
*backup*
